*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main{
    width: 80%;
    background-color:beige;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body{
    background-color: coral;
}

header{
    width: 100%;
    background-color:yellowgreen;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#logo img{
    width: 300px;
    vertical-align: middle;
    
}

#logo a{
    font-size: 40px;
    color: black;
}


#menu1{
    width: 50%;
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#menu1 a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 1;
}

#menu1 a:hover{
    background-color: beige;
    color: black;
}

article{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
}

.contenido{
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
}



footer{
    width: 100%;
    background-color: yellowgreen;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#menu2, #menu3{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu2 a, #menu3 a{
    color: white;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}

#menu2 a:hover, #menu3 a:hover{
    background-color: beige;
    color: black;
}


/* PARA TABLET*/
@media screen and (max-width:1200px)
{
    main{
        flex-direction: column;
    }

    header{
        flex-direction: column;
    }

    #menu1{
        width: 100%;
    }

    aside{
        flex-direction: row;
    }

    footer{
        justify-content: center;
    }
}

@media(max-width:600px)
{
    aside{
        flex-direction: column;
    }
}